@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RUNNING CONTEST</h1>
</div>

<div class="row">
    <div class="col-md-10">
        <h2>Register for Running contest</h2>
        <p><a class="btn btn-default" href="http://localhost:3585/RunnersDatas/CreateRunner">Registre &raquo;</a></p>
    </div>
</div>