body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #222;
    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color: black;
    border-color: white;
}

.jumbotron {
    color: grey;
    background-color: black;
}

.image {
    height: 51px;
    margin-right: auto;
    margin-left: auto;
    display: inline;
}

.FirstPlace {
    background-color: gold;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-top: 1px;
    padding-left: 10px;
    padding-bottom: 15px;
    border-radius: 5px;
    color: black;
    font: bold;
}