@model JooksuvoistlusMVC.Models.RunnersData

@{
    ViewBag.Title = "FirstPlace";
}

<div>
    <h4>Name: @Model.FirstName, @Model.LastName</h4>
    <span>Time: @Model.StartingTime - @Model.FinishTime</span>
</div>