@model JooksuvoistlusMVC.Models.RunnersData

<div class="FirstPlace">
    <h1>Winner!</h1>
    <h3>Name: @Model.FirstName @Model.LastName</h3>
    <h4>Time: @Model.StartingTime - @Model.FinishTime</h4>
</div>